{% load static %}
<!Doctype html>
    <html>
        <head>
            <meta name="charset" value="UTF-8">
            <meta name="viewport" value="width=device-width, initial-scale=1.0">
            

            <link rel="stylesheet" href="{% static 'clientManager/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'clientManager/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
            <link rel="stylesheet" href="{% static 'clientManager/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
            <style>
                .helptext {
                    display: none;
                }
            </style>
            {% block head %}
            {% endblock %}
        </head>
        <body style="background-image: url({% static 'clientManager/bg.png' %});">
            {% block content %}
            {% endblock %}
            <script src="{% static 'clientManager/jquery-2.2.2.js' %}"></script>
            <script src="{% static 'clientManager/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'clientManager/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
            
            {% block js %}
            {% endblock %}
        </body>
    </html>