{% extends "window.html" %}

{% block viewport %}

<hr />
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
        <div class="well" style="max-height: 600px; overflow-y: auto;">
            {% if ads|length < 1 %}
                <p>No Advertisments are currently being managed here. Add some!</p>
            {% else %}
                {% for ad in ads %}
                    <div class='panel panel-primary'>
                        <div class='panel-heading'><h4>{{ad.ad_name}}</h4></div>
                        <div class='panel-body'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='col-xs-2'>
                                        {% load static %}
                                        <a href='{{ad.source.url}}'><img class="img-responsive" src= "{{ad.thumbnail}}" alt="Ad Image..." ></a>
                                    </div>
                                    <div class='col-xs-4'>
                                        <p>Customer: {{ad.customer}}</p>
                                        <p>Duration: {{ad.duration}}</p>
                                        <p>Number of clients running ad: {{ad.num_clients}}</p>
                                        <a class="btn btn-primary" href="{% url 'edit_ad' pk=ad.ad_name %}">Edit</a>
                                        <a class="btn btn-danger" href="{% url 'delete_ad' pk=ad.ad_name %}" >Delete Ad</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
        

{% endblock %}