{% extends "window.html" %}
{% block _head %}
    <meta http-equiv="refresh" content="20" >
{% endblock %}
{% block viewport %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Statistics</div>
            <div class="panel-body">
                <p>Date: {% now "D/m/y" %}</p>
                <p>Start time of session: {{session_start}}</p>
                <p>Number of total Advertisments served: {{ad_number}}</p>
                <p>Number of clients Managed by Dashboard: {{client_number}}</p>
                <p>Number of pending updates to clients: {{len_updates}}</p>
                <p>Errors during this session: {{len_errors}}</p>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3 style="color: white;">Console Messages in this session: </h3>
        <div class="well">
            {% if console_messages|length < 1%}
            <p>No messages have been pushed to this console since the start of this session</p>
            {% else %}
                {% for message in console_messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}